
<nav>
    <h1>@ViewBag.Trail.trail_name</h1>
    <a href="/">Go Home</a>
</nav>
<h3>Description:</h3>
<p>@ViewBag.Trail.description</p>
<h3>Trail Length</h3>
<p>@ViewBag.Trail.trail_length</p>
<h3>Elevation Change</h3>
<p>@ViewBag.Trail.elev_change</p>
<h3>Longitude</h3>
<p>@ViewBag.Trail.longitude</p>
<h3>Latitude</h3>
<p>@ViewBag.Trail.latitude</p>


 
 